.menu ul {
   margin:0;
   padding:0;
   list-style:none;
   width:450px;
   border-buttom:1px solid gray;}
.menu li {
   position:relative;}


.menu li a {
   display:block;
   text-decoration:none;
   color:#FFF;
   background-color:#663366;
   font:bold 13px ;
   padding:5px;
   border:1px solid #cca "times new roman";
   border-buttom:0;}
.menu li a:hover{
   background-color:#99CCFF;
   color:#343434;
   }

* html ul li {
   float:left;
   height:800px; }
.menu{
padding-left: 450px;
  background-color:#CCFFCC;
  height:100%;
}
