html{
  font-size: 100%;
    box-sizing: border-box;
}
header{
  width: 100%;
  height: 59px;
  position:fixed;
  background: #f8f8f8;
    padding: 20px 0px 10px 0px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    left: 0px;
    top: 0px;
    right: 0px;
      display: block;
      border-bottom: solid 2px #EEE;
  }
header.butonlar{
  float:right;
  text-decoration: underline;
  text-decoration-color: white;
  font-size: 18px;
  text-align: left;
  }

.golge{
  max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
  }
ul.butonlar{
  margin: 0px;
      }
ul{
  list-style-type: none;
  list-style-position: outside;
  }
.kose{
  margin: auto;
    width: 50%;
    text-align: right;
    display: block;
    float: right;
  }
.girisbutonu{

  margin-left: 150px;
    margin-top: 30px;
    border-radius: 100%;
    line-height: 1.4px;
    position: absolute;
    font-size: 15px;

}

.sikayetyaz{
  background-color: #f79843;
    border-radius: 25px;
    width: 150px;
    height: 50px;
    margin-top: 3px;
    color: #FFF;
    margin-left: 15px;
    font-size: 19px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    border-style: none;
  }
body{
    background: #f8f8f8;
  width: 100%;
    height: 881px;
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-top: -200px;
  margin-left: -20px;
  padding-right: 30px;


  }


.sikayetyaz a:link{
  text-decoration: none;
}
.sikayetyaz a:visited{
  color:#FFF;

}
.sikayetyaz a:hover{
  color:#fff;
}
.aramayap{
  float:left;
  width: 615px;
  height: 45px;
  margin-top: -55px;
  margin-left: 90px;
  margin-right: 250px;
  border-radius: 50px;
  border-style: none;
  padding-left:15px;
  font-size: 15px;

}
.aramabutonu{
  float: right;
  position: relative;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border-style: none;
  right:  25%;
  margin-top: -55px;
    top: 4px;

}
h2{
    color: #b7b7b7;
  font-size: 18px;
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
    text-align: left;
    margin-top:320px;
    margin-left:190px;
  }

.butonlar li{
  vertical-align: middle;
  }
.butonlar li{
  margin: 0px;
    padding: 0px;
  }
ul{
  line-height: 1.6px;
  }


ul.butonlar li {
  list-style: none;
  display: inline-block;
  position: relative;
  }
ul{
  list-style-type: disc;
    margin-left: 1.25rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    list-style-position: outside;
  }

.sag{
  float:right;
  margin-top: -30px;
  margin-right: 200px;
  border:none;
  background-color: transparent;
  font-size: 18px;
  color: #666;

}
.yil{
  float: right;
}
.girisbutonu{
  color: #ccc;
}
.linklerarasi{
  width: 50px;
  margin-top: -1px;
  margin-bottom: -4px;
  color: #343434;
  margin-left: 7px;
}
.link{
  float: left;
  margin-top: 10px;
  margin-left: 210px;
  font-size: 15px;
}
.link a{
  color: #666;
  text-decoration: none;
}
.link a:hover{
  color: #42d16a;
}


.butonlar .acilirmenu:before{
  content: '';
    display: block;
    width: 0;
    height: 0;
    border: inset 0.5rem;
    border-color: transparent transparent #3c4043;
    border-bottom-style: solid;
    border-top-width: 0;
    bottom: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
.butonlar .acilirmenu li{

  padding: 5px 15px;
    display: block;
  }
.butonlar li{
  vertical-align: middle;
  }
.butonlar li{
  margin: 0px;
    padding: 0px;
  }
ul{
  line-height: 1.6px;
  }
header .butonlar .acilirmenu{
  opacity: 0;
  position: absolute;
    top: 55px;
    left: -52px;
    background-color: #3c4043;
    margin-left: -10px;
    border-radius: 10px;
    padding-top: 10px;
    text-align: left;
    width: 165px;
    z-index: 2;
    padding-left: 8px;
    list-style: none;
  }
  header .butonlar .acilirmenu:hover{
    visibility: visible;
    opacity: 1;
  }
ul.butonlar li {
  list-style: none;
  display: inline-block;
  position: relative;
  }
ul{
  list-style-type: disc;
    margin-left: 1.25rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    list-style-position: outside;
  }

.butonlar .acilirmenu a{
  color: #fff;
    font-size: 17px;
    font-family: "Nunito-Regular";
    display: block;
}
a{
  color: inherit;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
  }

.butonlar .acilirmenu li.cikis{
  background-color: #2d2f31;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.butonlar .acilirmenu li{
  margin-top: 0px;
  padding: 5px 15px;
    display: block;
    margin-left: -8px;
    padding-left: 12px;
    }
.butonlar .acilirmenu li:hover{
  background-color: #2d2f31;
  }
